<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="stylesheets/radar-chart.min.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  <head>
    <script type="text/javascript" src="http://d3js.org/d3.v3.js"></script>
    <script type="text/javascript" src="javascripts/radar-chart.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- <h1>Radar Chart from CSV file</h1>
      <p>Include data in CSV format. The <strong>first row are the headers</strong> and the <strong>first column is the class names.</strong></p> -->

      <!-- <textarea id="data" cols="60" rows="15">name,strength,intelligence,charisma,dexterity,luck
      Hodor,19,2,4,4,7
      Jon Snow,14,15,18,14,7
      Tyrion Lannister,8,19,7,5,10
      Eddard Stark,12,13,17,12,0</textarea> -->
      <div class="form">
          gender: <input type="number" name="gender" id="gender" class="form-control" value="1" required="required" title="">
          under_gfr_min: <input type="number" name="under_gfr_min" id="under_gfr_min" class="form-control" value="0" required="required" title="">
          under_cr_max: <input type="number" name="under_cr_max" id="under_cr_max" class="form-control" value="1" step="" required="required" title="">
          alt_max: <input type="number" name="alt_max" id="alt_max" class="form-control" value="1" required="required" title="">
          ast_max: <input type="number" name="ast_max" id="ast_max" class="form-control" value="0" required="required" title="">
          a1c_max: <input type="number" name="a1c_max" id="a1c_max" class="form-control" value="0" required="required" title="">
          alp_max: <input type="number" name="alp_max" id="alp_max" class="form-control" value="1" required="required" title="">
          bil_max: <input type="number" name="bil_max" id="bil_max" class="form-control" value="1" required="required" title="">
          d1_cnt: <input type="number" name="d1_cnt" id="d1_cnt" class="form-control" value="3" required="required" title="">
          hbv: <input type="number" name="hbv" id="hbv" class="form-control" value="0" required="required" title="">
          age: <input type="number" name="age" id="age" class="form-control" value="40" required="required" title="">
          <br/>
          Width: <input type="number" name="w" id="w" class="form-control" value="600" required="required" title="">
          Height: <input type="number" name="h" id="h" class="form-control" value="600" required="required" title="">
          <button onclick='showRadar()' class="btn btn-default" style="width:200px;height:50px;">Find!</button>
      </div>
      <div id="chart-container"></div>
      <div id="result"></div>
    </div>
    <script type="text/javascript" src="javascripts/app.js"></script>
    <script type="text/javascript">
      //RadarChart.defaultConfig.levelTick = true;
    </script>
    
  </body>
</html>
